name: release
on:
  push:
    branches:
      - main
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: haya14busa/action-bumpr@v1
        id: bumpr
        if: "!startsWith(github.ref, 'refs/tags/')"

      # Get tag name.
      - uses: haya14busa/action-cond@v1
        id: tag
        with:
          cond: "${{ startsWith(github.ref, 'refs/tags/') }}"
          if_true: ${{ github.ref }}
          if_false: ${{ steps.bumpr.outputs.next_version }}

      - name: Create release
        if: "steps.tag.outputs.value != ''"
        id: create_release
        uses: actions/create-release@v1.0.0
        with:
          tag_name: ${{ steps.tag.outputs.value }}
          release_name: Release ${{ steps.tag.outputs.value }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: download dependencies
        run: npm ci

      # access: public for organization puckage.
      - uses: JS-DevTools/npm-publish@v1
        if: "steps.tag.outputs.value != ''"
        with:
          access: "public"
          token: ${{ secrets.NPM_TOKEN }}
